*.class
*.orig
target/
bin/
test-output/
.gradle/
build/
temp/
tmp/
.idea/
*.iws
*.iml
*.ipr
*.ids
out/
secure-random.ser
/.nb-gradle/
classes
usr/
debian/conffiles
secure-random.ser
*.log
/override.properties
/develop.properties